.Friend{
    width: 90%;
    margin: 1rem auto;
}
.Friend_box{
    display: grid;
    grid-template-columns: 1.4fr 3fr;
    gap :2rem;
}
.dd{
    display: flex;
    flex-direction: column;
    gap :0.5rem;
}
.Friend_boxLeft{
    background-color: rgba(0, 0, 0, 0.15);
    padding: 1rem;
    border-radius: 0.8rem;
    width: 80%;
}
.Friend_boxLeft h2{
    text-align: center;
}
.Friend_boxRight{
    border-radius: 0.8rem;
    width: 98%;
}

@media only screen and(max-width: 45em){
    .Friend{
        width: 100%;
    }
    .Friend_box{
        grid-template-columns: 1fr;
    }
    .Friend_boxRight{
    }
    
}