.Error{
    position: fixed;
    align-items: center;
    text-align: center;
    inset: 25% 25% 35% 25%;
    z-index: 777777777;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 50px;
}
.Error_box h1{
    padding: 1.3rem;
}

@media only screen and (max-width:35em){
    .Error{
        height: 43%;
    }
    .Error_box h1{
        padding: 0.5rem;
    }
}