.UserCard{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
    position: relative;
}
.svg{
    border-radius: 50%;
}
.UserCard_box{

}
.UserCard_boxInfo{
    line-height: 0.6;

}
.UserCard_boxInfo h3{
    font-size: 1.6rem;
    color: rgb(17, 24, 77);
    line-height: 1;

}
.fd{
    font-size: 0.9rem;
    color: rgb(7, 110, 39);
}
.UserCard_boxInfoBtn{
    background-color: rgba(0, 0, 0, 0.15);
    color: darkorange;
    width: 50%;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}
.number{
    position: absolute;
    right: 1rem;
    padding: 1rem 1.3rem;
    border-radius: 50%;
    background-color: paleturquoise;
    top: 1rem;
}
@media only screen and (max-width: 35em){
    
}